{{!-- Create the div for the map --}}
<div id='map'></div>


{{!-- Link the CSS for MapBox --}}
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />

{{!-- Link the JS for MapBox --}}
<script async defer src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>

{{!-- Link the script for Axios --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
  integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
  crossorigin="anonymous"></script>

{{!-- Link your Mapxbox setup file  --}}
<script src="/javascripts/mapbox.js"></script>